/* Transaction */
.transaction-list-container {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    width: 800px;
    border-radius: 5px;

}
.header-transaction {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.transaction-expend {
    display: flex;
    gap: 10px;
}
.border-bottom{
    border-bottom: 1px solid#ffffff70;
}
/* TransactionItem */
.transaction-item-container{
    display: flex;
    padding: 15px;
    gap: 15px;
    align-items: center;
}
.transaction-item-container:hover{
    background-color: #676767;
    cursor: pointer;
}
.icon-origin,.icon-destination{
    background-color: #272727;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.info-subject{
    font-size: 18px;
    font-weight: 600;
}
.info-date,.info-member-origin{
    font-size: 16px;
    color: #bdbcbc;
}
.info-member-origin span{
    font-weight: 700;
}

.info-debt{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    margin-left: auto;
}
.debt-transaction{
    font-size: 20px;
}
.icon-destination-container{
    display: flex;
    gap: 5px;
}
.icon-destination{
    width: 30px;
    height: 30px;
}
@media only screen and (max-width: 720px) {
.header-transaction{
    font-size: 14px;
}
.icon-origin,.icon-destination{
    width: 25px;
    height: 25px;
    font-size: 12px;
}
.info-subject,.info-member-origin{
    font-size: 14px;
}
.debt-transaction{
    font-size: 12px;
}
.info-date{
    font-size: 10px;
}
}
